    </main>
    <footer class="kajene" role="contentinfo">
        <div class="ietvars">
            <p><%= t('footer.copy', { year: new Date().getFullYear() }) %></p>
        </div>
    </footer>
    <script src="/js/app.js" defer></script>
</body>
</html>
